<!DOCTYPE html>
<html>

<head>
  {{!-- //Handlebars to escape a value --}}
  <title>{{title}}</title>      
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='stylesheets/style.css' >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />

</head>

<body>
  {{> header}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
  <div class="container">
      {{{body}}}  
  </div>
  
  {{!-- The content for the app's home view which will be rendered into the layout's {{{body}}}. --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="javascripts/scripts.js"></script>
</body>

</html>