<div class="row">
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 border">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="Gothic game" class="img-thumbnail img-responsive">
            <div class="caption">
                <h4>Thumbnail lable</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et sequi voluptatibus accusantium
                    tempora corporis porro hic similique ab? Amet sit sint earum ullam saepe incidunt, debitis quam nisi
                    rerum!</p>
                <div class="purchase clearfix">
                    <div class="price float-left">$12</div>
                    <p><a href="#" class="btn btn-success float-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>